 <h2>Confirmation Information</h2>
  <p>
    <strong>Shipping Information</strong>
    <%=h @order.shipping_name %>
  </p>
  <p>
    <strong>Billing Name</strong>
    <%=h @order.billing_name %>
  </p>