<h1>New order</h1>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <%= render "#{@order.current_step}_step", :f => f %>
  <div class="actions">
    <p><%= f.submit "Continue" %></p>
    <p><%= f.submit "Back", :name => "back_button" unless @order.first_step? %>
  </div>
<% end %>

 
