<p id="notice"><%= notice %></p>

<%= render :partial => @post %><br>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>Comments</h2>
<div id="comments">
	<%= render :partial => @post.comments %>
</div>

<%= form_for [@post, Comment.new] do |f| %>
	<p>
		<%= f.label :comment, "New Comment" %><br>
		<%= f.text_area :comment %><br>
		<%= f.label :location, "Location" %><br>
		<%= f.text_field :location %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>